
/*
    https://www.color-hex.com/color-palette/98018 


/* General */

*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    text-decoration: none;
}  

body{
    background-color: #701818;
}

/* Dark-mode */

.dark-mode{
    background-color: #100f0f;
    color: #d7d7d7;
  }

.darknavbtn{
    background-color: antiquewhite;
}

.dark-cont{
    background-color: red;

}

/* Navbar */

header{
    background-color: #701818;
    width: 80vw;
    height: 10vh;
    margin: auto;
    display: flex;
    padding: 3vh 0 3vh 0;
    justify-content: space-between;
}

#navname{
    color: #d7d7d7;
    width: 30vw;
    height: 10vh;
    font-size: 4vw;
    text-align: center;
    transition: 0.25s;
}

#navname:hover{
    font-size: 8.5vh;
    color: white;
    cursor: pointer;
}

#flexnav{
    width: 60vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Search */

#search{
    background-color: #d7d7d7;
    width: 17vw;
    height: 3vw;
    border: none;
    border-radius: 10px 0 0 10px;
    padding-left: 1vh;
    font-size: 2vw;
}

#searchbtn{
    width: 4vw;
    height: 3vw;
    background-color: #7d7676;
    font-size: 2vw;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    float: right;
}

#searchimg{
    margin-top: 0.5vh;
    width: 2vw;
    height: 3vh;
}

.searcher{
    height: 6.63vh;
    border: 3px solid #701818;
    border-radius: 12px;
    box-sizing: border-box;
    margin: auto auto;

}

.searcher:hover{
    border: 3px solid #4c0e0e;
}

.navbtn{
    background-color: #701818;
    color: #d7d7d7;
    width: 6vw;
    height: 3vw;
    margin: 1vh;
    padding-top: 3vh;
    text-align: center;
    text-decoration: none;
    border: 3px solid #701818;
    border-radius: 20px;

    box-shadow: inset 0 0 0 0 #701818;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

.navbtn:hover{
    border: 3px solid #4c0e0e;
    box-shadow: inset 200px 0 0 0 #bd1a1a;;
}


/* Featured*/

#featured{
    width: 100%;
    height: 36vw;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#featmain{
    background-color: #7d7676;
    width: 60vw;
    height: 33.5vw;
    border-radius: 15px;
}


#featuredimg{
    width: 60vw;
    height: 33.5vw;
    border-radius: 15px;
}

#featside{
    background-color: #7d7676;
    width: 15vw;
    height: 33.5vw;
    border-radius: 15px;
}


/* Round time bar */ 

.round-time-bar {
  margin: 1rem;
  overflow: hidden;
}

.round-time-bar div {
  height: 5px;
  animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
  transform-origin: left center;
  background: linear-gradient(to bottom, #7d7676, #100f0f);
}

.round-time-bar[data-style="smooth"] div {
  animation: roundtime calc(var(--duration) * 1s) linear infinite forwards;
}

@keyframes roundtime {
  to{ transform: scaleX(0); }
}



/* Movie Flexbox */

#container, #infobox{
    background-color: #d7d7d7;
    width: 80vw;
    height: 100%;
    padding: 5vh 0 5vh 0;
    margin: auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 15px;
}

#infobox{
    background-color: #7d7676;
}

.movie{
    width: 13vw;
    height: 18vw;
    margin: 3vh 1vw 3vh 1vw;
    border: 3px solid #100f0f;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-size: 13vw 18vw;

}

.movie:hover{
    width: 15vw;
    height: 20vw;
    margin: 0;
    cursor: pointer;
    background-size: 15vw 20vw;

}

.movietitle{
    background-color: #7d7676;
    width: 13vw;
    height: 0vw;
    padding-top: 1vw;
    font-size: 1.5vw;
    visibility: hidden;
    transition: 0.3s;
    display: block;
    text-align: center;
}

.movie:hover .movietitle{
    background-color: #7d7676;
    width: 15vw;
    height: 6vw;
    visibility: visible;
}

.moviebox{
    border-radius: 5px 5px 0 0;
    width: 13vw;
    height: 18vw;
    visibility: hidden;
    transition: 0.3s;
    display: flex;
    justify-content: end;
}

.movie:hover .moviebox{
    width: 15vw;
    height: 14vw;
    visibility: visible;
}

.movierating{
    background-color: #d7d7d7;
    border: 2px solid black;
    border-radius: 5px;
    width: 1vw;
    height: 1vw;
    margin: 1vw;
    font-size: 1vw;
    visibility: hidden;
    transition: 0.3s;
    background-size: 1vw 1vw;
}

.movie:hover .movierating{
    background-color: #d7d7d7;
    width: 4vw;
    height: 4vw;
    font-size: 3vw;
    visibility: visible;
    background-size: 4vw 4vw;
}


/* Footer */ 

footer{
    width: 80vw;
    height: 20vh;
    background-color: #701818;
    margin: auto;
}

.flexcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials{
    width: 5vh;
    height: 5vh;
    margin: 3vh 1vh 1vh 1vh;
    cursor: pointer;
    transition: 0.25s;
}

.socials:hover{
    width: 6vh;
    height: 6vh;
    margin-top: 2vh;
}

#copyright{
    color: #d7d7d7;
    margin: 5vh 0 0 0 ;
}





#ifheader{
    text-align: center;
}


#ifpara{
    margin: 2vw;
    text-align: justify;
}



/* Movie info*/

.infocont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.infoimg{
    background-color: #7d7676;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 30px;
    width: 30vw;
    height: 40vw;
}

.infoside{
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}

.infoheader{
    width: 40vw;
    height: 7vw;
    display: flex;
}

.inforating{
    background-color: #7d7676;
    background-size: 7vw 7vw;
    border: 2px solid black;
    border-right: 1px solid black;
    border-radius: 30px 0 0 0;
    width: 7vw;
    height: 6vw;
    padding: 1vw 0 0 0;
}

.infotitle{
    background-color: #7d7676;
    border: 2px solid black;
    border-left: 1px solid black;
    border-radius: 0 30px 0 0;
    width: 33vw;
    height: 6vw;
    padding: 1vw 0 0 0;
    font-size: 5vh;
    text-align: center;
}

.infodesc{
    background-color: #968d8d;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 0 0 0 30px;
    width: 40vw;
    height: 6vw;
    padding: 1vw;
    font-size: 0.75vw;
    text-align:justify;
    overflow-y:scroll;
}

.infotrailerbar{
    background-color: #7d7676;
    border: 2px solid black;
    border-radius: 10px;
    width: 38vw;
    height: 2vw;
    margin: auto;
    padding-top: 0.5vw;
    font-size: 2vw;
    text-align: center;
}

.infovideobox{
    background-color: #7d7676;
    background-image: url(images/Screenshot\ 2022-09-29\ at\ 09.51.38.png);
    background-size: 36vw 20vw;
    border-radius: 10px;
    width: 36vw;
    height: 20vw;
    margin: 0 2vw 0 2vw;
}

.infovideo{
    border-radius: 10px;
    width: 36vw;
    height: 20vw;
}

